html, body {
    font-family: 'gotham-reg', 'Arial', sans-serif;
}

.nav-container {
    background: #263031;
    border-bottom:5px solid rgba(56,94,135,1);
    box-sizing: border-box;
    position: relative;
    box-shadow: 1px 0 2px 0 rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
}
.nav-header {
    position: relative;
    height: 100px;
    background: rgb(56,94,135);
    background: -moz-linear-gradient(45deg,  rgba(56,94,135,1) 0%, rgba(38,71,91,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(56,94,135,1) 0%,rgba(38,71,91,1) 100%);
    background: linear-gradient(45deg,  rgba(56,94,135,1) 0%,rgba(38,71,91,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385e87', endColorstr='#26475b',GradientType=1 );
    box-shadow: 0 -2px 4px 0 rgba(0,0,0,.2) inset;
}
.nav-header img {
    width:45%;
    vertical-align:middle;
    position: absolute;
    top:50%;
    left:0;
    right:0;
    margin:auto;
    transform: translateY(-50%);
}

.profil-btn {
    display:block;
    color: #fefefe;
    font-size:18px;
    line-height:70px;
    padding: 10px 10px 10px 20px;
}
.profil-btn:hover {
    text-decoration:none;
}
.profil-btn i {
    position: relative;
    display:inline-block;
    line-height:0;
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
    vertical-align:middle;
    margin-right: 10px;
}
.profil-btn i img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}


.nav-inner-menu ul {
    padding-left:0;
    background: #313B3C;
}

.nav-inner-menu li a {
    position: relative;
    display:block;
    line-height:65px;
    color: #fff;
    font-variant: small-caps;
    font-size:18px;
    font-family: 'gotham-bold';
    transition: .2s ease-in-out;
}

.nav-inner-menu li a span {
    font-size:12px;
    display:inline-block;
    background: rgb(56,94,135);
    background: -moz-linear-gradient(45deg,  rgba(56,94,135,1) 0%, rgba(38,71,91,1) 100%);
    background: -webkit-linear-gradient(45deg,  rgba(56,94,135,1) 0%,rgba(38,71,91,1) 100%);
    background: linear-gradient(45deg,  rgba(56,94,135,1) 0%,rgba(38,71,91,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385e87', endColorstr='#26475b',GradientType=1 );
    height:25px;
    padding:5px 10px;
    line-height:1.4;
    border-radius:15px;
    margin-left:20px;
}
.nav-icon {
    width:24px;
    height:24px;
    display:inline-block;
    vertical-align:middle;
    margin: 0 15px 0 20px;
}
.nav-icon.home {
    background: url(../img/icons/accueil.png) no-repeat center center;
    background-size: 24px 24px;
}
.nav-icon.letter {
    background: url(../img/icons/messages.png) no-repeat center center;
    background-size: 24px 24px;
}
.nav-icon.news {
    background: url(../img/icons/news.png) no-repeat center center;
    background-size: 24px 24px;
}
.nav-icon.blog {
    background: url(../img/icons/blog.png) no-repeat center center;
    background-size: 24px 24px;
}

.nav-block h2 {
    color: #fff;
    font-size:20px;
    padding:0 10px;
    font-variant:small-caps;
    margin-bottom:20px;
}
.pet-container {
    text-align:center;
    overflow:hidden;
    max-height:130px;
}
.pet-container .pet {
    width:60px;
    height:60px;
    display:inline-block;
    border-radius:50%;
    overflow:hidden;
    margin: 0 8px;
    position: relative;
}
.pet-container .pet img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.pet-container a {
    font-size:12px;
}

.utilities {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}
.utilities a {
    display:block;
    color: #fff;
    font-variant: small-caps;
    margin-bottom:10px;
}
.icon {
    width:16px;
    height:16px;
    display:inline-block;
    vertical-align:middle;
    margin-right:15px;
}
.icon.gear {
    background: url(../img/icons/parametres.png) no-repeat center center;
    background-size: 16px 16px;
}
.icon.exit {
    background: url(../img/icons/deconnexion.png) no-repeat center center;
    background-size: 16px 16px;
}

/* HOVER / ACTIVE */

.nav-inner-menu ul a.active,
.nav-inner-menu ul a:hover {
    background: rgba(56,94,135,1);
    text-decoration: none;
    padding-left:10px;
}