.side-search {
    background: #263031;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.5);
    position:fixed;
    top:0;
    right:0;
}
.side-search-header {
    height:120px;
    overflow:hidden;
}
.side-search-header img {
    display:inline-block;
}

.side-search-form {
    width:80%;
    margin:auto;
}
.side-search-form h1 {
    font-size:26px;
    color: #fff;
    font-variant:small-caps;
    margin-bottom:10px;
}

.side-search-form .field {
    margin-bottom:15px;
}

.side-search-form .field input {
    width:100%;
    background:transparent;
    border:none;
    border-bottom:1px solid #FFF;
    padding:5px 0;
    outline:none;
    color: #fff;
}
.side-search-form select {
    background: #fff;
    background-image: none;
}

.side-search-form button {
    background: transparent;
    padding:5px 10px;
    border:1px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin-top:10px;
    transition: .2s ease-in-out;
}
.side-search-form button:hover {
    background: #fff;
    color: #263031;
}
.footer {
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    padding:10px 30px 10px 10px;

}
.footer p {
    position: relative;
    display:block;
    color: #fff;
    margin-bottom:10px;
    float: right;
}