li {
    list-style:none;
}
i {
    font-style: normal;
}

h2 {
    font-variant: small-caps;
    font-family:'gotham-bold', 'Arial', sans-serif;
}

.logo {
    position: absolute;
    top:20px;
    left:20px;
}
.logo img {
    max-width: 110px;
}

.background {
    position: absolute;
    height:100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    z-index:-1;
}
.background.bg-login {
    background: url(../img/background-dog.jpg) no-repeat center center;
    background-size:cover;
}
.background.bg-register {
    background: url(../img/background-cat.jpg) no-repeat center center;
    background-size: cover;
}

.form-header {
    height:180px;
    position: relative;
}
.form-header img {
    width:45%;
    position: absolute;
    top:50%;
    left:0;
    right:0;
    margin:auto;
    transform: translateY(-50%);
}

.form-container {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
    width:350px;
    max-width:100%;
    background: #262D35;
    box-shadow: -2px 0 4px 0 rgba(0,0,0,.2);
}
.form-container form {
    padding:0 40px;
    color: #fff;
}
.form-container form h1 {
    font-variant:small-caps;
}
.form-container .field {
    padding-top:10px;
    margin:5px auto;
    position: relative;
}

.field .input-text {
    position: relative;
    width:100%;
    background: transparent;
    border:none;
    border-bottom:1px solid #fff;
    padding:5px 0;
    outline:none;
    z-index:2;
}

input::-webkit-input-placeholder {
    color: #fff !important;
    font-size:11px;
}

.form-container a {
    display:block;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    font-size:11px;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
    font-size:11px;
}

input:-ms-input-placeholder {
    color: #fff !important;
    font-size:11px;
}

.field input[type="checkbox"] {
    display:inline-block;
    margin:15px 5px 0 0;
}
input[type="submit"] {
    font-size:16px;
    padding: 5px 10px;
    background: transparent;
    border:1px solid #FFF;
    border-radius:5px;
    margin-bottom:20px;
    transition: .2s ease-in-out;
}
input[type="submit"]:hover {
    background: #fff;
    color: #262D35;
}

.form-container.registration {
    width:500px;
    padding-top:20px;
}

.registration .field select {
    margin-right:10px;
    color: #222;
    background:#fff;
    background-image:none;
}

.registration .field input {
    background: transparent;
    border:none;
    border-bottom:1px solid #fff;
    padding:5px 0;
    outline:none;
}
.registration .field .input {
    display:inline-block;
    width:48%;
}
.input input {
    width:90%;
}
.registration .field .input:first-child {
    margin-right:2%;
}

.registration label {
    font-size:11px;
}

.registration input[type="submit"] {
    margin-top:30px;
}

.registration input[type="file"] {
    width:100%;
    border-bottom:none;
}


/* SECTIONS PROFIL */
.section-profil {
    height:100%;
}
.profil-header {
    padding: 20px 30px;
}
.profil-picture {
    position: relative;
    float:left;
    width:150px;
    height:150px;
    border-radius:50%;
    overflow:hidden;
    border:8px solid #343434;
    margin-right: 40px;
    box-sizing: border-box;
    z-index:10;
}
.profil-picture img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.profil-general {
    float: left;
    padding-top:30px;
}
.profil-general h1 {
    font-size:36px;
}
.profil-general ul {
    margin:0;
    padding:0;
}
.profil-general li {
    display:inline-block;
    font-family:'gotham-light', 'Arial', sans-serif;
    margin: 0 8px;
}
.gender {
    width:20px;
    height:20px;
    display:inline-block;
    vertical-align: middle;
}
.gender.male {
    background: url(../img/men.png) no-repeat center center;
    background-size:18px 18px;
}
.gender.female {
    background: url(../img/female.png) no-repeat center center;
    background-size:11px 18px;
}

.profil-navigation {
    width:95%;
    margin:auto;
    border-bottom:2px solid #eee;
}
.profil-navigation ul {
    display:block;
    height:100%;
    margin:0;
    padding:0;
}
.profil-navigation li {
    display:inline-block;
    width:20%;
    margin: 0 -.13em;
}
.profil-navigation a {
    display:block;
    height:100%;
    font-size: 24px;
    font-variant: small-caps;
    color: #CCC;
    position: relative;
    text-decoration:none;
}
.profil-navigation a.active:after,
.profil-navigation a:hover:after {
    opacity:1;
}
.profil-navigation a:after {
    content:'';
    display:block;
    width:100%;
    height:2px;
    background: #18539C;
    position: absolute;
    left:0;
    bottom:-2px;
    opacity:0;
    transition: .2s ease-in-out;
}
.profil-navigation a.active {
    color: #222;
}

.profil-infos {
    padding:25px;
}

.profil-basic-infos {
    padding-left:20px;
}

.profil-basic-infos li {
    line-height:40px;
    font-family: 'gotham-light', 'Arial', sans-serif;
    font-size:16px;
}
.profil-basic-infos li span {
    font-family: 'gotham-bold', 'Arial', sans-serif;
    font-variant:small-caps;
    font-size:18px;
}

.blocks-news {
    text-align:center;
}

.news {
    padding:0 10px;
}
.news figure {
    width:100%;
    height:150px;
    position: relative;
}
.news figcaption {
    position: absolute;
    left:0;
    right: 0px;
    bottom:0px;
    text-align:right;
}
.news figcaption span {
    display:inline-block;
    font-variant:small-caps;
    padding:5px 15px 5px 10px;
    color: #fff;
    text-shadow: 1px 2px 1px rgba(0,0,0,.2);
}
.description {
    padding:10px 5px;
    background: #cecece;
    border:1px solid #ececec;
    border-radius: 0 0 15px 15px;
}
.description p {
    font-size:16px;
    font-family: 'gotham-bold', 'Arial', sans-serif;
    float:left;
}
.description p span {
    font-size:12px;
    font-family: 'gotham-light', 'Arial', sans-serif;
    display:inline-block;
    vertical-align:middle;
}
.pet-sheet {
    margin-top:40px;
}

.pet-sheet-header {
    padding:0px 20px 10px;
    margin-bottom:10px;
    border-bottom:1px solid #eee;
}
.add-pet {
    display:inline-block;
    padding: 8px 10px;
    background: #1abc9c;
    color: #fff;
    border-radius:5px;
    border:1px solid #1abc9c;
    transition: .2s ease-in-out;
}
.add-pet:hover {
    color: #1abc9c;
    background: transparent;
    text-decoration: none;
}
.add-pet:hover .icon svg path {
    fill: #1abc9c;
}
.add-pet .icon {
    display:inline-block;
    margin-right:5px;
}
.add-pet .icon svg path {
    fill: #fff;
    transition: .2s ease-in-out;
}

.pet-infos {
    padding: 10px 15px;
}

.pet-infos figure {
    position: relative;
    float: left;
    width:100px;
    height:100px;
    border-radius:50%;
    border:3px solid #222;
    box-sizing:border-box;
    overflow:hidden;
    background: #222;
}
.pet-infos figure img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.pet-infos ul {
    float:left;
    padding-left:20px;
}
.pet-infos li {
    margin:5px 0;
    font-size:12px;
}
.pet-infos li span {
    font-family: 'gotham-bold', 'Arial', sans-serif;
    font-variant:small-caps;
    font-size:16px;
}
.pet-quote {
    margin-top:15px;
    padding-left: 10px;
}
.pet-quote span {
    display:block;
    font-variant: small-caps;
    font-size:20px;
    margin-bottom:8px;
}
.pet-quote span i {
    display:inline-block;
    font-size:12px;
}

.pet-quote p {
    font-size:14px;
    font-family:'gotham-light', 'Arial', sans-serif;
    line-height:1.4;
}

.profil-content-inner {
    position: relative;
    overflow:hidden;
}
.profil-infos {
    position: absolute;
    top:0;
    left:0;
    right:0;
    opacity:0;
    transform: translateY(70px);
    transition: .4s ease-in-out;
    z-index:-1;
}
.profil-infos.active {
    position: relative;
    top:initial;
    left:initial;
    right:initial;
    opacity:1;
    transform: translateY(0);
    z-index:10;
}

.message-container li {
    width:90%;
    margin:auto;
    background: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.3);
    margin-bottom:20px;
    cursor:pointer;
    transition: .2s ease-in-out;
}
.message-container .no-message {
    text-align:center;
    box-shadow: 0 0 0 0;
    background: transparent;
}
.message-container .no-message:hover {
    transform: none;
    box-shadow: 0 0 0 0;
}
.message-container li:hover {
    transform: translateY(-5px);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
}

.who {
    height:60px;
    padding:10px;
    border-bottom:1px solid #eee;
    background: #efefef;
}

.who figure {
    position: relative;
    display:inline-block;
    vertical-align: middle;
    width:40px;
    height:40px;
    border-radius:50%;
    overflow:hidden;
    border:1px solid #fff;
    box-sizing: border-box;
    z-index:10;
}
.who figure img {
    height:100%;
}
.who a {
    display:inline-block;
    line-height:40px;
    vertical-align: middle;
    color: #222;
}

.when {
    border-bottom:1px solid #eee;
    background: #fff;
}

.when p {
    padding:10px;
    font-size:10px;
    font-family:'gotham-reg', 'Arial', sans-serif;
    margin:0;
}

.message-thumb p {
    font-size:14px;
    padding:10px;
    font-family: 'gotham-light', 'Arial', sans-serif;
}

/* MESSAGE CORE */
.message-core {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,.8);
    opacity:0;
    z-index:-40;
    transition: opacity .2s ease-in-out;
}
.message-core.active {
    opacity:1;
    z-index:10;
}
.message-core-inner {
    width:90%;
    margin:50px auto 20px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,.8);
    overflow-y: auto;
}

.message {
    background: #fff;
}

.message-content {
    background: #fff;
    padding:20px;
    overflow:hidden;
}
.message-content p {
    font-family:'gotham-reg', 'Arial', sans-serif;
    font-size:15px;
    line-height:1.6;
}

.answer-block {
    background: #fff;
    overflow:hidden;
    opacity:0;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,.4);
    transition: opacity .2s ease-in-out;
}
.answer-block.active {
    opacity:1;
}
.answer-block-inner.active {
    opacity:1;
}
.answer-block h2 {
    padding:10px 20px;
    font-variant:small-caps;
    font-size:24px;
    border-bottom:1px solid #eee;
}

.answer-block label {
    display:none;
}

.answer-block textarea {
    min-height:150px;
    background: none;
    border:none;
    width:100%;
    padding:10px;
    outline:none;
}

.answer-block button {
    float: right;
    margin:0 20px 15px 0;
    display:inline-block;
    padding:5px 10px;
    background: #1abc9c;
    color: #fff !important;
    text-decoration:none !important;
    line-height:30px;
    border-radius:5px;
    font-size:14px;
    font-family:'gotham-reg', 'Arial', sans-serif;
    transition: .2s ease-in-out;
    border:1px solid #1abc9c;
}

.answer-block button .icon {
    margin-right: 5px;
    position: relative;
}

.answer-block button svg {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

.answer-block button svg path {
    fill: #fff;
}

.answer-block button:hover {
    background: transparent;
    border:1px solid #1abc9c;
    color: #1abc9c !important;
}

.answer-block button:hover svg path {
    fill: #1abc9c;
}

.message-options {
    padding:10px;
    text-align:right;
}
.answer-options {
    background: #fefefe;
    box-shadow: -1px 0 1px 0 rgba(0,0,0,.4);
    transition: .2s ease-in-out;
}
.answer-options.inactive {
    opacity:0;
}

.answer-btn {
    display:inline-block;
    padding:5px 10px;
    background: #1abc9c;
    color: #fff !important;
    text-decoration:none !important;
    line-height:30px;
    border-radius:5px;
    font-size:14px;
    font-family:'gotham-reg', 'Arial', sans-serif;
    transition: .2s ease-in-out;
    border:1px solid #1abc9c;
}

.answer-btn .icon {
    margin-right:5px;
}

.answer-btn svg path {
    fill:#fff;
    transition: .2s ease-in-out;
}
.answer-btn:hover {
    text-decoration:none;
    color: #1abc9c !important;
    background: transparent;
}
.answer-btn:hover svg path {
    fill: #1abc9c;
}
.answer-btn .icon {
    display:inline-block;
    margin-top:-5px;
    vertical-align:middle;
}

.close-btn {
    display:inline-block;
    width:24px;
    height:24px;
    vertical-align:middle;
    position: relative;
    cursor:pointer;
}
.close-btn span {
    width:100%;
    height:4px;
    border-radius:5px;
    display:block;
    background: #fff;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.close-btn span:first-child {
    transform: rotate(45deg);
}
.close-btn span:last-child {
    transform: rotate(-45deg);
}
/* END */


/* NEWS */
.thumb-container {
    padding-left:0;
}

.thumb-item {
    margin: 20px 0;
    cursor:pointer;
}
.thumb-item a {
    text-decoration: none;
    color: #222;
}

.thumb-item div {
    padding:15px;
    background: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    border-top: 5px solid #355A80;
}
.thumb-item figure {
    width:100%;
    height:160px;
    position:relative;
    overflow:hidden;
}
.thumb-item img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width:101%;
    min-height:101%;
}

.thumb-item h1 {
    font-size:22px;
    font-family: 'gotham-bold', 'Arial', sans-serif;
    margin: 0 0 10px 0;
}

.news-text {
    max-height:120px;
    text-overflow: ellipsis;
    overflow:hidden;
    font-size:14px;
    font-family: 'gotham-light', 'Arial', sans-serif;
}

/* SUGGESTIONS */
.suggestion-block {
    text-align:center;
    border-bottom:1px solid #ececec;
    padding-bottom:20px;
}

.suggestion-block h2 {
    text-align:left;
    padding:10px 20px;
    margin:0;
    font-variant: small-caps;
    font-family: 'gotham-bold', 'Arial', sans-serif;
}

.suggestion-item {
    width:100px;
    margin: 0 15px;
    display:inline-block;
    font-variant: small-caps;
}
.suggestion-item:hover {
    text-decoration: none;
}

.suggestion-item figure {
    width:100%;
    height:100px;
    border-radius:50%;
    border:1px solid #222;
    overflow:hidden;
}

.suggestion-item img {
    height:100%;
}

.suggestion-item p {
    color: #222;
    margin:0;
    font-size:10px;
    font-family: 'gotham-light', 'Arial', sans-serif;
}
.suggestion-item .name {
    margin-top:5px;
    font-size:20px;
    font-family: 'gotham-bold', 'Arial', sans-serif;
}


/* NEWS & BLOG THUMBS */
.last-showoff {
    padding-bottom:20px;
    border-bottom:1px solid #ececec;
}

.last-showoff h2 {
    padding: 15px;
    margin:0 0 10px 0;
    font-variant: small-caps;
    font-family: 'gotham-bold', 'Arial', sans-serif;
}

.date {
    font-size:12px;
    font-family:'gotham-light', 'Arial', sans-serif;
}

.show-item {
    padding-bottom:20px;
}

.show-item h1 {
    font-size:16px;
    min-height:35px;
    margin:0 0 10px 0;
    font-family: 'gotham-bold', 'Arial', sans-serif;
}



.show-item figure {
    width:100%;
    height:150px;
    overflow:hidden;
    position: relative;
    margin-bottom:10px;
}
.show-item figure img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    min-width:101%;
    min-height:101%;
}

.read-more {
    display:inline-block;
    padding: 5px 10px;
    border:1px solid #1abc9c;
    color: #1abc9c !important;
    border-radius:15px;
    margin-top:10px;
    transition: .2s ease-in-out;
}
.read-more:hover {
    text-decoration: none;
    color: #fff !important;
    background: #1abc9c;
}

/* BLOG */
.article-list {
    padding:0;
}
.article-list li {
    width:95%;
    margin:4% auto 20px;
    background: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    transition: .2s ease-in-out;
    cursor:pointer;
}

.article-list a {
    color: #222;
}
.article-list a:hover {
    text-decoration: none;
}

.article-list li:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

.article-list li figure {
    position: relative;
    overflow:hidden;
    height:300px;
}
.article-list li figure img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width:101%;
    min-height:101%;
}

.article-list .date {
    margin-top:10px;
}

.article-list h1 {
    font-size:24px;
    margin:0 0 10px 0;
    font-family:'gotham-bold', 'Arial', sans-serif;
}

.article-list p {
    font-family: 'gotham-light', 'Arial', sans-serif;
}

.article{
    max-width: 1280px;
    margin:20px 5px 0;
}
.article h1{
    padding: 0 0 25px 20px;
    margin: 30px 0 35px;
    font-variant: small-caps;
    border-bottom: 1px solid #eee;
}

.article-image{
    float: left;
    width: 50%;
    margin: 15px 20px 10px;
    border: 3px solid #222;
}
.article-image img{
    width: 100%;
}
.article-core{
    line-height: 1.6em;
    margin: 0 0 40px;
    padding: 15px;
    background-color: #FAFAFA;
}
.article-core h2{
    padding-bottom: 10px;
}
.article-core p{
    padding-bottom: 20px;
}
.article-core p:last-child{
    padding-bottom: 0;
}

.article-date{
    float: right;
    margin: 0 30px 30px 0;
}
.article-date p:first-child{
    font-family: 'gotham-bold', 'Arial', sans-serif;
    font-size: 1.2em;
}
.article-date p{
    font-size: 1em;
    margin:0;
}

/* RESULTAT RECHERCHE */
.pet-result {
    background: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    padding:20px;
}

.pet-result form {
    margin-top:20px;
}
.pet-result form label {
    font-family:'gotham-bold', 'Arial', sans-serif;
    font-variant:small-caps;
    font-size:18px;
}
.pet-result .field {
    margin-top:20px;
}
.pet-result .field input[type="file"] {
    font-size:12px;
}
.pet-result button {
    margin-top:10px;
    padding: 5px 10px;
    border:1px solid #1abc9c;
    background: #1abc9c;
    color: #fff;
    border-radius: 15px;
    transition: .2s ease-in-out;
}
.pet-result button:hover {
    background: transparent;
    color: #1abc9c;
}

.pet-result-media figure {
    width:200px;
    height:200px;
    overflow:hidden;
    border-radius:50%;
    border:1px solid #222;
    position: relative;
}
.pet-result-media figure img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width:101%;
    min-height:101%;
}

.pet-misc {
    font-family: 'gotham-light', 'Arial', sans-serif;
    margin:0 0 10px 0;
}
.pet-misc span {
    font-family: 'gotham-bold', 'Arial', sans-serif;
    font-variant: small-caps;
}
.send-btn {
    display:inline-block;
    margin-top:10px;
    padding: 8px 10px;
    border:1px solid #1abc9c;
    background: #1abc9c;
    color: #fff;
    border-radius:15px;
    transition: .2s ease-in-out;
}
.send-btn .icon {
    margin-right:10px;
}
.send-btn svg path {
    fill: #fff;
}
.send-btn:hover {
    color: #1abc9c !important;
    background: transparent;
    text-decoration: none;
}

.gallery {
    margin-top:20px;
    text-align:center;
    padding:20px;
}
.gallery-item {
    position: relative;
    width:120px;
    height:120px;
    display:inline-block;
    margin:0 5px;
    border:1px solid #222;
    overflow:hidden;
}
.gallery-item img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    min-width:101%;
    min-height:101%;
}

.send-message-block .info h1 {
    padding: 10px;
    margin: 0 0 20px 0;
    font-family:'gotham-bold', 'Arial', sans-serif;
    font-variant: small-caps;
}

.send-message-block form label {
    display:none;
}
.send-message-block form textarea {
    width:100%;
    min-height:150px;
    border:1px solid #ececec;
    border-radius:5px;
    resize: none;
    overflow: scroll;
}

.info {
    border-bottom:1px solid #ececec;
    padding-bottom:15px;
}

.info .animal,
.info .owner {
    float: left;
    margin: 0 15px;
}

.info .animal figure,
.info .owner figure {
    width:50px;
    height:50px;
    border-radius:50%;
    border: 1px solid #222;
    overflow:hidden;
    display:inline-block;
    position: relative;
}
.info .owner figure img,
.info .animal figure img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
.info .animal div,
.info .owner div {
    display:inline-block;
    vertical-align:top;
    margin: 0 30px 0 10px;
}
.owner .name,
.animal .name {
    font-family: 'gotham-bold', 'Arial', sans-serif;
    font-size: 16px;
}
.info p {
    vertical-align:top;
    margin:0;
    font-family:'gotham-light', 'Arial', sans-serif;
    font-size:12px;
}

.info figure img {
    height:100%;
}

/* AJOUT PET */
.add-pet-form h1 {
    font-variant:small-caps;
    font-family:'gotham-bold', 'Arial', sans-serif;
    margin: 10px 0;
}
.add-pet-form form div {
    margin-bottom: 10px;
}
.add-pet-form label {
    display:block;
}
.add-pet-form input {
    background: transparent;
    border:none;
    border-bottom:1px solid #aeaeae;
}
.add-pet-form input[type="file"] {
    border-bottom:0;
}
.add-pet-form button {
    padding:5px 10px;
    border:1px solid #1abc9c;
    background: #1abc9c;
    color: #ffffff;
    border-radius:15px;
    margin-top:15px;
    transition: .2s ease-in-out;
}
.add-pet-form button:hover {
    background: transparent;
    color: #1abc9c;
}

/* PET SEARCH RESULT */
.pet-result-sheet {
    display:inline-block;
    background: #fafafa;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    margin-bottom:10px;
}

.pet-media figure {
    width:150px;
    height:150px;
    border-radius:50%;
    margin:20px auto 20px;
    overflow:hidden;
    border:1px solid #222;
    position: relative;
    z-index:40;
}
.pet-media figure img {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.pet-infos p span {
    font-variant: small-caps;
    font-family:'gotham-bold', 'Arial', sans-serif;
    font-size:16px;
}