{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block title %} - Connexion{% endblock %}
{% block fondimage %}
    <div class="background bg-login"></div>
{% endblock %}

{% block fos_user_content %}

    <div class="form-container">
        <div class="form-header">
            <img src="{{ asset('assets/img/logo.png')}}" alt="Meet My Pet">
        </div>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            <h1>login</h1>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="field">
                <input class="input-text" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Email" />
            </div>

            <div class="field">
                <input class="input-text" type="password" id="password" name="_password" required="required" placeholder="Mot de passe"/>
            </div>
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="field">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <span for="remember_me">{{ 'security.login.remember_me'|trans }}</span>
            </div>

            <div class="field">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            <a href="{{ path('fos_user_registration_register') }}">Pas encore de compte ? Inscrivez vous !</a>
        </form>
    </div>
{% endblock fos_user_content %}