{% extends "::layout.html.twig" %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <div class="row">
             <div class="container-fluid suggestion-block">
                 <div class="row">
                     <h2>suggestions</h2>
                     {% for item in suggestions %}
                     <div class="suggestion-item">
                         <a class="suggestion-item" href="{{ path('iesa_view_animal', {'id': item.id}) }}">
                             <div>
                                 <figure>
                                     <img src="{{ asset(item.image.url) }}">
                                 </figure>
                                 <p class="name">{{ item.name }}</p>
                                 <p>{{ item.city }}</p>
                             </div>
                         </a>
                     </div>
                     {% else %}
                         <div class="col-sm-12 col-md-12">
                            <p>Aucune suggestion disponible</p>
                         </div>
                     {% endfor %}
                 </div>
             </div>
             <div class="last-showoff news-show">
                <h2>derniers articles</h2>
                 <div class="container-fluid show-block">
                     <div class="row">
                     {% for item in posts %}
                         <div class="col-sm-4 col-md-4 show-item">
                             <div class="item-block">
                                 <p class="date">{{ item.date |date('d-m-Y') }}</p>
                                 <h1>{{ item.title }}</h1>
                                 <figure>
                                     <img src="{{ asset(item.image.url) }}" alt="{{ item.image.alt }}">
                                 </figure>
                                 <p>{{ item.text |slice(0, 100) }}</p>
                                 <a href="{{ path('iesa_blog_view_post', {'id': item.id}) }}" class="read-more">Lire la suite</a>
                             </div>
                         </div>
                     {% endfor %}
                     </div>
                 </div>
             </div>
             <div class="last-showoff event-show">
                 <h2>derniers événements</h2>
                 <div class="container-fluid show-block">
                     <div class="row">
                         {% for item in events %}
                         <div class="col-sm-4 col-md-4 show-item">
                             <div class="item-block">
                                 <p class="date">{{ item.eventdate |date('d-m-Y') }}</p>
                                 <h1>{{ item.title }}</h1>
                                 <figure>
                                     <img src="{{ asset(item.image.url) }}" alt="{{ item.image.alt }}">
                                 </figure>
                                 <p>{{ item.text |slice(0, 150) }}</p>
                                 <a href="{{ path('iesa_blog_view_event', {'id': item.id}) }}" class="read-more">Lire la suite</a>
                             </div>
                         </div>
                         {% endfor %}
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}
