{% block nav %}
    <div class="nav-header">
        <img src="{{ asset('assets/img/logo.png') }}" alt="Meet My Pet">
    </div>
    <div class="nav-inner-menu">
        <a href="{{ path('iesa_user_profile') }}" class="profil-btn">
            <i>
                {% if user.image != null %}
                    <img src="{{ asset(user.image.url) }}" alt="{{ user.image.alt }}">
                {% else %}
                    <img src="{{ asset('assets/img/icons/no-pic-profile.png') }}" alt="no pic image">
                {% endif %}
            </i>
            {{ user.pseudo }}
        </a>

        <ul>
            <li><a href="{{ path('iesa_platform_homepage') }}"><i class="nav-icon home"></i>accueil</a></li>
            <li>
                <a href="{{ path('iesa_user_profile') }}"><i class="nav-icon letter"></i>messages
                    {% if unseen %}
                        <span>{{ unseen }}</span>
                    {% endif %}
                </a>
            </li>
            <li><a href="{{ path('iesa_blog_blog') }}"><i class="nav-icon blog"></i>blog</a></li>
            <li><a href="{{ path('iesa_blog_news') }}"><i class="nav-icon news"></i>news</a></li>
        </ul>
        <div class="nav-block">
            <h2>mes compagnons</h2>
            <div class="pet-container">
                {% for item in animals %}
                    <a href="{{ path('iesa_view_animal', {'id': item.id}) }}" class="pet">
                        {% if item.image != null %}
                            <img src="{{ asset(item.image.url) }}" alt="{{ item.image.alt }}">
                            {% else %}
                                <img src="{{ asset('assets/img/no-image-thumb.png') }}" alt="">
                        {% endif %}
                    </a>
                {% else %}
                    <a href="{{ path('iesa_user_profile') }}">Vous n'avez pas ajouté de compagnons, pensez-y!</a>
                {% endfor %}
            </div>
        </div>
        <div class="utilities">
            <a href="#"><i class="icon gear"></i>paramètres</a>
            <a href="{{ path('fos_user_security_logout') }}"><i class="icon exit"></i>déconnexion</a>
        </div>
    </div>
{% endblock %}