{% extends "::layout.html.twig" %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <h2>résultats de recherche</h2>
            <div class="row">
                <div class="container">
                    <div class="row">
                        {% for item in results %}
                        <div class="col-sm-5 col-md-5 pet-result-sheet">
                            <div class="row">
                                <div class="col-sm-5 col-md-5 pet-media">
                                    <figure class="pet_result">
                                        {% if item.image != null %}
                                            <img src="{{ asset(item.image.url) }}" alt="{{ item.image.alt }}">
                                        {% else %}
                                            <img src="{{ asset('assets/img/icons/no-pic-profile.png') }}" alt="no pic image">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="col-sm-7 col-md-7 pet-infos">
                                    <p><span>nom : </span>{{ item.name }}</p>
                                    <p><span>race : </span>{{ item.race }}</p>
                                    <p><span>sexe : </span>{% if item.gender == 1 %} M {% else %} F {% endif %}</p>
                                    <p><span>ville : </span>{{ item.city }}</p>
                                    <p><span>né(e) le : </span>{{ item.birthday |date('d-m-Y') }}</p>
                                    <a class="read-more" href="{{ path('iesa_view_animal', {'id': item.id}) }}">Voir le profil</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                            <p>Aucune correspondance trouvée</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}