<div class="side-search-form">

    <h1>recherche</h1>
    {{ form_start(form, {'attr':{'class':'form-horizontal','action': path('iesa_validate_search_form') }})  }}
        {{ form_errors(form) }}
        <div class="field">
            {{ form_widget(form.name,{'attr':{'placeholder':'Nom'}}) }}
        </div>
        <div class="field">
            {{ form_widget(form.species) }}
        </div>
        <div class="field">
            {{ form_widget(form.race,{'attr':{'placeholder':'Race'}}) }}
        </div>
        <div class="field">
            {{ form_widget(form.gender) }}
        </div>
        <div class="field">
            {{ form_widget(form.country,{'attr':{'placeholder':'Pays'}}) }}
        </div>
        <div class="field">
            {{ form_widget(form.city,{'attr':{'placeholder':'Ville'}}) }}
        </div>
        {{ form_widget(form.rechercher) }}
    {{ form_end(form) }}

</div>
{#{{ form(form) }}#}