<div class="message-core-inner">
    <div class="message-options">
        <i class="close-btn">
            <span></span>
            <span></span>
        </i>
    </div>
    <div class="message">
        <div class="message-header">
            <div class="who">
                <figure>
                    {% if sending.image != null %}
                        <img src="{{ asset(sending.image.url) }}" alt="{{ sending.image.alt }}">
                    {% else %}
                        <img src="{{ asset('assets/img/icons/no-pic-profile.png') }}" alt="Pas de photo de profil">
                    {% endif %}
                </figure>
                <a href="#">{{sending.pseudo}}</a>
            </div>
            <div class="when">
                <p>Le <span>{{message.sendingdate |date('d-m-Y')}}</span></p>
            </div>
        </div>
        <div class="message-content">
            <p> {{message.content}} </p>
        </div>
        <div class="answer-block">
            <div class="answer-block-inner">
                <h2>répondre</h2>
                {{ form_start(form,{'attr': {'action': path('iesa_message_content',{'id': message.id})  }}) }}
                {{ form_widget(form.content) }}
                <button type="submit">
                    <i class="icon">
                        <svg class="svg-icon" viewBox="0 0 20 20">
                            <path d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"></path>
                        </svg>
                    </i>
                    Envoyer le message
                </button>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="message-options answer-options">
            <a href="#" class="answer-btn">
                <i class="icon">
                    <svg class="svg-icon" viewBox="0 0 20 20">
                        <path d="M18.303,4.742l-1.454-1.455c-0.171-0.171-0.475-0.171-0.646,0l-3.061,3.064H2.019c-0.251,0-0.457,0.205-0.457,0.456v9.578c0,0.251,0.206,0.456,0.457,0.456h13.683c0.252,0,0.457-0.205,0.457-0.456V7.533l2.144-2.146C18.481,5.208,18.483,4.917,18.303,4.742 M15.258,15.929H2.476V7.263h9.754L9.695,9.792c-0.057,0.057-0.101,0.13-0.119,0.212L9.18,11.36h-3.98c-0.251,0-0.457,0.205-0.457,0.456c0,0.253,0.205,0.456,0.457,0.456h4.336c0.023,0,0.899,0.02,1.498-0.127c0.312-0.077,0.55-0.137,0.55-0.137c0.08-0.018,0.155-0.059,0.212-0.118l3.463-3.443V15.929z M11.241,11.156l-1.078,0.267l0.267-1.076l6.097-6.091l0.808,0.808L11.241,11.156z"></path>
                    </svg>
                </i>
                Répondre
            </a>
        </div>
    </div>
</div>

<script src="{{ asset('assets/js/popupcontent.js') }}"></script>