{% extends "::layout.html.twig" %}
{% block title %} - Profile{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <div class="row">
             <div class="section-profil">
                 <div class="profil-header clearfix">
                     <figure class="profil-picture">
                         {% if user.image != null %}
                             <img src="{{ asset(user.image.url) }}" alt="Votre photo de profil">
                         {% else %}
                             <img src="{{ asset('assets/img/icons/no-pic-profile.png') }}" alt="Pas de photo de profil">
                         {% endif %}
                     </figure>
                     <div class="profil-general">
                         <h1>{{ user.pseudo }}</h1>
                         <ul>
                             <li>{{ age.y }}</li>
                             <li><i class="gender {% if user.gender == 1 %} male {% else %} female {% endif %}"></i>
                             </li>
                             <li>{{ user.city }}, {{ user.zipcode }}</li>
                         </ul>
                     </div>
                 </div>
                 <div class="profil-content clearfix">
                     <div class="profil-navigation">
                         <ul>
                             <li><a href="#" class="active" data-part="about">about</a></li>
                             <li><a href="#" data-part="messages">messages</a></li>
                         </ul>
                     </div>
                     <div class="profil-content-inner">
                         <div class="container-fluid profil-infos about active" data-part="about">
                             <div class="row">
                                 <div class="col-sm-12 col-md-12 profil-basic-infos">
                                     <ul class="row">
                                         <div class="col-sm-6 col-md-6">
                                             <li><span>pseudo : </span>{{ user.pseudo }}</li>
                                             <li><span>nom : </span>{{ user.lastname }}</li>
                                             <li><span>prénom : </span>{{ user.firstname }}</li>
                                         </div>
                                         <div class="col-sm-6 col-md-6">
                                             <li><span>âge : </span>{{ age.y }}</li>
                                             <li><span>ville : </span>{{ user.city }}</li>
                                             <li>
                                                 <span>sexe : </span>{% if user.gender == 1 %} M {% else %} F {% endif %}
                                             </li>
                                         </div>
                                     </ul>
                                 </div>
                             </div>
                             <div class="row pet-sheet">
                                 <div class="pet-sheet-header">
                                     <a href="{{ path('iesa_add_animal') }}" class="add-pet">
                                         <i class="icon">
                                             <svg class="svg-icon" viewBox="0 0 20 20">
                                                 <path fill="none" d="M13.68,9.448h-3.128V6.319c0-0.304-0.248-0.551-0.552-0.551S9.448,6.015,9.448,6.319v3.129H6.319
								c-0.304,0-0.551,0.247-0.551,0.551s0.247,0.551,0.551,0.551h3.129v3.129c0,0.305,0.248,0.551,0.552,0.551s0.552-0.246,0.552-0.551
								v-3.129h3.128c0.305,0,0.552-0.247,0.552-0.551S13.984,9.448,13.68,9.448z M10,0.968c-4.987,0-9.031,4.043-9.031,9.031
								c0,4.989,4.044,9.032,9.031,9.032c4.988,0,9.031-4.043,9.031-9.032C19.031,5.012,14.988,0.968,10,0.968z M10,17.902
								c-4.364,0-7.902-3.539-7.902-7.903c0-4.365,3.538-7.902,7.902-7.902S17.902,5.635,17.902,10C17.902,14.363,14.364,17.902,10,17.902
								z"></path>
                                             </svg>
                                         </i>
                                         Ajouter un compagnon
                                     </a>
                                 </div>
                                 {% for item in animals %}
                                     <div class="col-sm-6 col-md-6">
                                         <div class="pet-infos">
                                             <div class="clearfix">
                                                 <a href="{{ path('iesa_view_animal', {'id': item.id}) }}">
                                                     <figure class="pet_infos_image">
                                                         {% if item.image != null %}
                                                             <img src="{{ asset(item.image.url) }}"
                                                                  alt="{{ item.image.alt }}">
                                                         {% else %}
                                                             <img src="{{ asset("assets/img/no-image-full.png") }}" alt="">
                                                         {% endif %}
                                                     </figure>
                                                 </a>
                                                 <ul>
                                                     <li><span>nom : </span>{{ item.name }}</li>
                                                     <li><span>race : </span>{{ item.race }}</li>
                                                     <li>
                                                         <span>date de naissance : </span>{{ item.birthday |date('d-m-Y') }}
                                                     </li>
                                                     <li><span>localisation : </span>{{ item.city }}</li>
                                                     <li>
                                                         <span>sexe : </span>{% if item.gender == 1 %} M {% else %} F {% endif %}
                                                     </li>
                                                 </ul>
                                             </div>
                                             <div class="pet-quote">
                                                 <span>anecdote <i>:</i> </span>
                                                 <p>{{ item.story }}</p>
                                             </div>
                                         </div>
                                     </div>
                                 {% else %}
                                     <div class="col-sm-12 col-md-12">
                                         <p>Vous n'avez pas encore ajouté de compagnons.</p>
                                     </div>
                                 {% endfor %}
                             </div>
                         </div>
                         <div class="profil-infos message" data-part="messages">
                             <div class="container-fluid">
                                 <div class="row">
                                     <div class="message-container">
                                         <ul>
                                             {% for item in messages %}
                                                 <li>
                                                     <div class="message-header">
                                                         <div class="who">
                                                             <figure>
                                                                 {% if item.sending.image != null %}
                                                                     <img src="{{ asset(item.sending.image.url) }}"
                                                                          alt="{{ item.sending.image.alt }}">
                                                                 {% endif %}
                                                             </figure>
                                                             <a href="#">{{ item.sending.pseudo }}</a>
                                                         </div>
                                                         <div class="when">
                                                             <p>Le <span>{{ item.sendingdate |date('d-m-Y') }}</span>
                                                             </p>
                                                         </div>
                                                     </div>
                                                     <div class="message-thumb" messageid="{{ item.id }}">
                                                         <p>
                                                             {% if item.seen == false %}
                                                                 <strong>{{ item.content |slice(0, 100) }}</strong>
                                                             {% else %}
                                                                 {{ item.content |slice(0, 100) }}
                                                             {% endif %}
                                                         </p>
                                                     </div>
                                                 </li>
                                             {% else %}
                                                 <li class="no-message"><p>Vous n'avez pas de nouveaux messages.</p>
                                                 </li>
                                             {% endfor %}
                                         </ul>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}

{% block messagepopup %}
    {{ render(controller("IESAUserBundle:Profil:messagePopUp")) }}
{% endblock %}