<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Meet My Pet{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('assets/css/fonts.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/navigation.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/sidesearch.css')}}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}" >
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% for flashMessage in app.session.flashbag.get('notice') %}

    <di class = 'flsh'>{{ flashMessage }}</di>

{% endfor %}
{% block body %}
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2 nav-container">
                    <div class="row">
                        {% block nav %}

                        {% endblock %}
                    </div>
                </div>

    {% block wrapper %}
    {% endblock %}
                <div class="col-sm-2 col-md-2 side-search">
                    <div class="row">
                        <div class="side-search-header">
                            <img src="{{ asset('assets/img/searchheader.jpg') }}" alt="">
                        </div>
                        {% block sidesearch %}
                        {% endblock %}
                        <div class="footer">
                            <p>&copy; Crew Thon</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block messagepopup %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-2.2.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
