{% extends "::layout.html.twig" %}
{% block title %} - News{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <ul class="container-fluid article-list">
            {% for item in news %}
                <li class="row">
                    <a href="#">
                        <div class="row">
                            <figure class="col-sm-6 col-md-6">
                                <img src="{{ asset(item.image.url) }}" alt="{{ item.image.alt }}" />
                            </figure>
                            <div class="col-sm-6 col-md-6">
                                <p class="date">{{ item.date |date('d-m-Y')}}</p>
                                <h1>{{ item.title }}</h1>
                                <p>{{ item.text |slice(0, 311) }}</p>
                                <a href="{{ path('iesa_blog_view_event', {'id': item.id}) }}" class="read-more">Lire la suite</a>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
         </ul>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}