{% extends "::layout.html.twig" %}
{% block title %} - Blog{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <div class="article clear-fix">
             <h1>{{ post.title }}</h1>
             {% if post.image %}
                 <figure class="article-image">
                     <img src="{{ asset(post.image.url) }}" alt="{{ post.image.alt }}">
                 </figure>
             {% endif %}
             <div class="article-core">{{ post.text }}</div>
             <div class="article-date">
                 <p>{{ post.author }}</p>
                 <p class="date">{{ post.date |date('d-m-Y') }}</p>
             </div>
         </div>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}