{% extends "::layout.html.twig" %}
{% block title %} - Ajouter un compagnon{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <div class="row">
            <div class="col-sm-6 col-md-6 add-pet-form">
                <h1>ajouter un compagnon</h1>
                 {{ form_start(form) }}
                 {{ form_end(form) }}
            </div>
         </div>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}
