{% extends "::layout.html.twig" %}
{% block title %} - Envoyer un message{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
     <div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
         <div class="row send-message-block">
             <div class="info clearfix">
                 <h1>destinataire</h1>
                 <div class="owner">
                     <figure>
                         <img src="{{ asset(owner.image.url) }}" alt="{{ owner.image.alt }}"/>
                     </figure>
                     <div>
                         <p class="name">{{ owner.pseudo }}</p>
                         <p>{{ owner.city }}</p>
                     </div>
                 </div>
                 <div class="animal">
                     <figure>
                         <img src="{{ asset(animal.image.url) }}" alt="{{ animal.image.alt }}"/>
                     </figure>
                     <div>
                         <p class="name">{{ animal.name }}</p>
                         <p>{{ animal.city }}</p>
                     </div>
                 </div>
             </div>
             <div class="col-sm-8 col-md-8 wrapper">
                 <h2>message</h2>
                 {{ form_start(form) }}
                 {{ form_widget(form.content,{'attr':{'placeholder':'Message'}}) }}
                 <button type="submit" class="send-btn">
                     <i class="icon">
                         <svg class="svg-icon" viewBox="0 0 20 20">
                             <path d="M17.218,2.268L2.477,8.388C2.13,8.535,2.164,9.05,2.542,9.134L9.33,10.67l1.535,6.787c0.083,0.377,0.602,0.415,0.745,0.065l6.123-14.74C17.866,2.46,17.539,2.134,17.218,2.268 M3.92,8.641l11.772-4.89L9.535,9.909L3.92,8.641z M11.358,16.078l-1.268-5.613l6.157-6.157L11.358,16.078z"></path>
                         </svg>
                     </i>
                     Envoyer le message
                 </button>
                 {{ form_end(form) }}
             </div>
         </div>
     </div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}