{% extends "::layout.html.twig" %}
{% block title %} - Compagnon{% endblock %}
{% block nav %}
    {{ render(controller("IESAPlatformBundle:Nav:nav")) }}
{% endblock %}
 {% block wrapper %}
<div class="col-sm-offset-2 col-md-offset-2 col-sm-8 col-md-8 wrapper">
    <div>
        <div class="row pet-result">
            <div class="col-sm-4 col-md-4 pet-result-media">
            {% if animal.image %}
                <figure>
                    <img src="{{ asset(animal.image.url) }}" alt="{{ animal.image.alt }}">
                </figure>
            {% else %}
                <figure>
                    <img src="{{ asset("assets/img/no-image.png") }}" alt="">
                </figure>
            {% endif %}
            </div>
            <div class="col-sm-8 col-md-8 pet-result-inner">
                <div class="row">
                    <div class="col-sm-6 col-md-6">
                        <p class="pet-misc"><span>nom</span> : {{ animal.name }}</p>
                        <p class="pet-misc"><span>race</span> : {{ animal.race }}</p>
                        <p class="pet-misc"><span>né le</span> : {{ animal.birthday |date('d-m-Y') }}</p>
                        <p class="pet-misc"><span>sexe</span> : {% if animal.gender == 1 %} M {% else %} F {% endif %}</p>
                        <p class="pet-misc"><span>ville</span> : {{ animal.city }}</p>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <p class="pet-misc"><span>anecdote</span> : <br>{{ animal.story }}</p>
                    </div>
                </div>

                {% if app.user == animal.owner %}
                <div class="">
                    {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <div class="field">
                        {{ form_label(form.file, "ajouter photo") }}
                        <div class="">
                            {{ form_widget(form.file) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
                {% else %}
                    <a class="send-btn" href="{{ path('iesa_send_message', {'id': animal.id}) }}">Envoyer un message au maître</a>
                {% endif %}
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="row">
                    <div class="gallery">
                        {% for item in album %}
                            <figure class="gallery-item">
                                <img src="{{ asset(item.url) }}" alt="{{ item.alt }}">
                            </figure>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 {% endblock %}
{% block sidesearch %}
    {{ render(controller("IESAPlatformBundle:Search:sideSearch")) }}
{% endblock %}
