{% trans_default_domain 'FOSUserBundle' %}
<div class="logo"><img src="{{ asset('assets/img/logo.png') }}"></div>
<div class="form-container registration">
    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_errors(form) }}
    <h1>inscription</h1>
    <div class="field">
        <div class="input">
            <div class="">
                {{ form_widget(form.firstname,{'attr':{'placeholder':'Prénom'}}) }}
            </div>
        </div>
        <div class="input">
            <div class="">
                {{ form_widget(form.lastname,{'attr':{'placeholder':'Nom'}}) }}
            </div>
        </div>
    </div>
    <div class="field">
        {{ form_label(form.gender,"Sexe") }}
        <div class="">
            {{ form_widget(form.gender) }}
        </div>
    </div>
    <div class="field">
        {{ form_label(form.birthday,"Date de naissance") }}
        <div class="">
            {{ form_widget(form.birthday) }}
        </div>
    </div>
    <div class="field">
        {{ form_widget(form.pseudo,{'attr':{'placeholder':'Pseudonyme'}}) }}
    </div>
    <div class="field">
        <div class="">
            {{ form_widget(form.email,{'attr':{'placeholder':'E-mail'}}) }}
        </div>
    </div>


    <div class="field">
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.plainPassword.children['first']) }}
        <div class="input">
            <div class="">
                {{ form_widget(form.plainPassword.children['first'],{'attr':{'placeholder':'Mot de passe'}}) }}
            </div>
        </div>
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.plainPassword.children['second']) }}
        <div class="input">
            <div class="">
                {{ form_widget(form.plainPassword.children['second'],{'attr':{'placeholder':'Confirmation mot de passe'}}) }}
            </div>
        </div>
    </div>

    <div class="field">
        <div class="input">
            <div class="">
                {{ form_widget(form.country,{'attr':{'placeholder':'Pays'}}) }}
            </div>
        </div>
        <div class="input">
            {{ form_errors(form.zipcode) }}
            <div class="">
                {{ form_widget(form.zipcode,{'attr':{'placeholder':'Code Postal', 'size':5}}) }}
            </div>
        </div>
    </div>
    <div class="field">
        <div class="input">
            <div class="">
                {{ form_widget(form.address,{'attr':{'placeholder':'Adresse'}}) }}
            </div>
        </div>
        <div class="input">
            <div class="">
                {{ form_widget(form.city,{'attr':{'placeholder':'Ville'}}) }}
            </div>
        </div>
    </div>
    <div class="field">
        {{ form_label(form.image, "Photo de profil")}}
        <div class="">
            {{ form_widget(form.image.file)}}
        </div>
    </div>

    {{ form_widget(form) }}

    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>

    {{ form_end(form) }}

</div>
