{% extends "FOSUserBundle::layout.html.twig" %}
{% block title %} - Inscription{% endblock %}
{% block fondimage %}
    <div class="background bg-register"></div>
{% endblock %}
{% block fos_user_content %}
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock fos_user_content %}
